<ngx-smart-modal #popupOne identifier="popupOne">
    <div class="congo">
        <div class="congo-card">
            <div class="head">
                <img src="../../../assets/images/Group 2834.png" alt="">
            </div>
            <div class="body">
                <h1>Congratulations!</h1>
                <p>
                    Your application has been successfully completed !<br> once your application is reviewed, we will
                    contact you to have best services for your future.
                </p>
                <div class="btn-cont d-flex justify-content-between">
                    <button (click)="popupOne.close()" class="light">Cancel</button>
                    <button>Go to Main</button>
                </div>
            </div>
        </div>
    </div>

</ngx-smart-modal>
