<section class="faq" id="faq">
    <div class="ui container">
        <div class="heading-content">
            <h1>Frequently Asked Questions</h1>
        </div>
        <div class="ui styled fluid accordion bf -reset -boxshadow">
            <div class="accordian-cont">
                <div class="title d-flex justify-content-between">
                    How to apply through Study Bridge?
                    <i class="fas fa-plus"></i>
                </div>
                <div class="content bf -reset -padding-rl">
                    <p class="transition hidden">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id ornare tellus ullamcorper arcu,
                        faucibus consectetur gravida nisl. Egestas rhoncus, lectus vulputate curabitur. Venenatis mauris
                        diam pulvinar mus varius.
                    </p>
                </div>
            </div>
            <div class="accordian-cont">
                <div class="title d-flex justify-content-between">
                    What will be the process of applying through Study Bridge
                    <i class="fas fa-plus"></i>
                </div>
                <div class="content bf -reset -padding-rl">
                    <p class="transition hidden">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id ornare tellus ullamcorper arcu,
                        faucibus consectetur gravida nisl. Egestas rhoncus, lectus vulputate curabitur. Venenatis mauris
                        diam pulvinar mus varius.
                    </p>
                </div>
            </div>
            <div class="accordian-cont">
                <div class="title d-flex justify-content-between">
                    When I should apply to University?
                    <i class="fas fa-plus"></i>
                </div>
                <div class="content bf -reset -padding-rl">
                    <p class="transition hidden">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id ornare tellus ullamcorper arcu,
                        faucibus consectetur gravida nisl. Egestas rhoncus, lectus vulputate curabitur. Venenatis mauris
                        diam pulvinar mus varius.
                    </p>
                </div>
            </div>
            <div class="accordian-cont">
                <div class="title d-flex justify-content-between">
                    I finished 11 grade in my country, can I apply for a university?
                    <i class="fas fa-plus"></i>
                </div>
                <div class="content bf -reset -padding-rl">
                    <p class="transition hidden">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id ornare tellus ullamcorper arcu,
                        faucibus consectetur gravida nisl. Egestas rhoncus, lectus vulputate curabitur. Venenatis mauris
                        diam pulvinar mus varius.
                    </p>
                </div>
            </div>
            <div class="accordian-cont">
                <div class="title d-flex justify-content-between">
                    What’s the progress after getting acceptance from university
                    <i class="fas fa-plus"></i>
                </div>
                <div class="content bf -reset -padding-rl">
                    <p class="transition hidden">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id ornare tellus ullamcorper arcu,
                        faucibus consectetur gravida nisl. Egestas rhoncus, lectus vulputate curabitur. Venenatis mauris
                        diam pulvinar mus varius.
                    </p>
                </div>
            </div>
            <div class="accordian-cont">
                <div class="title d-flex justify-content-between">
                    What’s the cost for using service?
                    <i class="fas fa-plus"></i>
                </div>
                <div class="content bf -reset -padding-rl">
                    <p class="transition hidden">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id ornare tellus ullamcorper arcu,
                        faucibus consectetur gravida nisl. Egestas rhoncus, lectus vulputate curabitur. Venenatis mauris
                        diam pulvinar mus varius.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
