@import "_bf-breakpoints";

.main-section {
    font-family: poppins-medium;
    position: relative;
    height: 100vh;

    img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;

        @include breakpoint(max-xl) {
            object-position: right;
        }

        @include breakpoint(max-md) {
            object-position: center center;
        }
    }

    .ui.container {
        position: relative;
        height: 100%;

        .content {
            width: 50%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            @include breakpoint(max-md) {
                text-align: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            @include breakpoint(max-xl) {
                width: 75%;
            }

            @include breakpoint(max-sm) {
                width: 100%;
            }

            h1 {
                font-family: Poppins-bold;
                font-weight: bold;
                font-size: 64px;
                line-height: 96px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
                margin-bottom: 20px;

                @include breakpoint(max-sm) {
                    font-size: 36px;
                    line-height: 54px;
                }
            }

            h6 {
                font-weight: normal;
                font-size: 18px;
                line-height: 27px;
                color: #FFFFFF;
                margin: 0;
                margin-bottom: 25px;

                @include breakpoint(max-sm) {
                    font-size: 16px;
                    line-height: 24px;
                    padding: 0 50px;
                }
            }

            button {
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
                text-align: center;
                min-width: 200px;
                color: #FFFFFF;
                height: 60px;
            }
        }
    }
}

.forum {
    font-family: poppins-medium;
    background: #0F1E46;
    padding: 45px 0;

    @include breakpoint(max-sm) {
        padding: 30px 0;
    }

    .d-flex {
        align-items: center;

        @include breakpoint(max-sm) {
            display: block !important;
        }
    }

    h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 35px;
        color: #FFFFFF;
        margin: 0;
        width: 40%;

        @include breakpoint(max-xl) {
            width: 50%;
        }

        @include breakpoint(max-md) {
            width: 75%;
        }

        @include breakpoint(max-sm) {
            width: 100%;
            font-size: 16px;
            line-height: 35px;
        }
    }

    .forum-btn {
        background: #E5F3FF;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0085FF;
        border-radius: 6px;
        border: none;
        width: 200px;
        height: 60px;
        cursor: pointer;

        @include breakpoint(max-sm) {
            width: 100%;
            margin-top: 20px;
        }
    }
}
