@import '_bf-breakpoints';

header {
    padding-bottom: 70px;

    .menu {
        font-family: poppins-medium;
        height: 70px;

        &::after {
            content: none;
        }

        .item {
            &::before {
                content: none;
            }

            h1 {
                font-weight: bold;
                font-size: 20px;
                line-height: 30px;
                color: #000000;
                cursor: pointer;
                font-family: poppins-bold;

                @include breakpoint(max-sm){
                    padding-left: 10px;
                }
            }

            a {
                font-size: 14px;
                line-height: 21px;
                color: #000000;
                margin-right: 40px;
                position: relative;

                &:hover {
                    font-family: poppins-bold;
                    font-weight: bold;

                    &::before {
                        display: block;
                    }
                }

                &::before {
                    content: '';
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background: #000000;
                    height: 2px;
                    animation: underline 0.2s ease-in-out forwards;

                    @keyframes underline {
                        0% {
                            width: 0%;
                        }

                        100% {
                            width: 100%;
                        }
                    }
                }

                &.active {
                    font-family: poppins-bold;
                    font-weight: bold;

                    &::before {
                        display: block;
                    }
                }
            }

            button {
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
                padding: 16px;

                &:hover {
                    color: #fff !important;
                    background-color: #2185d0 !important;
                }
            }
        }
    }

    &.sidebar {
        .sidebar-btn {
            display: none !important;
        }

        .side-menu {
            display: none;
        }

        @include breakpoint(max-lg) {
            .container {
                margin: 0 40px;
            }

            .sidebar-btn {
                display: flex !important;

                i {
                    cursor: pointer;
                }
            }

            .full-menu {
                display: none !important;
            }

            .side-menu {
                display: block;
                position: fixed;
                top: 0;
                padding-top: 70px;
                height: 100vh;
                background-color: #fff;
                z-index: 100;
                width: 300px;
                left: -300px;
                transition: all 0.4s ease-in-out;

                &.active {
                    left: 0;
                }

                ul {
                    height: 100%;
                    padding: 0;
                    list-style-type: none;

                    li {
                        padding: 20px 0 20px 40px;
                        border-bottom: 1px solid #EBEBEB;

                        a {
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 21px;
                            color: #11253E;
                        }
                    }
                }

                button {
                    position: absolute;
                    bottom: 30px;
                    margin: 0 40px;
                    width: -webkit-fill-available;
                    background: #FFFFFF;
                    border: 1px solid #0085FF;
                    box-sizing: border-box;
                    border-radius: 8px;
                }
            }

            .bg-shadow {
                display: none;
                position: fixed;
                inset: 0;
                background-color: rgba($color: #000000, $alpha: 0.4);
                z-index: 10;

                &.active {
                    display: block;
                }
            }
        }
    }
}

footer {
    font-family: poppins-medium;
    background: #0B1635 !important;
    padding: 50px 0;

    * {
        color: #FFFFFF;
    }

    h1 {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 15px;
        font-family: poppins-bold;
    }

    p {
        font-size: 14px;
        line-height: 30px;
        margin: 0%;
    }

    ul {
        list-style: none;

        * {
            color: #fff;
            font-size: 14px;
            margin-bottom: 10px;
            line-height: 21px;
        }

        h5 {
            font-family: poppins-bold;
        }

        li {
            a {
                cursor: pointer;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .icons {
        display: flex;

        .icon-cont {
            margin-right: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            width: 25px;
            height: 25px;
            border-radius: 100%;

            i {
                color: #0B1635;
            }

            &:last-child {
                margin: 0;
            }
        }

    }

    .accordian-cont{
        display: none;
    }

    @include breakpoint(max-lg) {
        padding: 60px 0 20px;

        .three {
            display: none !important;
        }

        .accordian-cont {
            display: block;
            margin-top: 20px;
            border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);;

            &:first-child{
                margin-top: 0;
            }
            .title{
                padding: 0;
            }
            h5 {

                font-weight: bold;
                font-size: 14px;
                line-height: 21px;
                color: #FFFFFF;
            }
            i{
                color: #fff;
            }
        }

        .ui.grid{
            margin-top: 50px;
        }
    }
}
