<section class="work" id="work">
    <div class="ui container">
        <div class="heading-content">
            <h1>How it works</h1>
            <h5>Apply with 3 simple steps</h5>
        </div>
        <div class="ui three doubling cards">
            <div class="card">
                <div class="image">
                    <img src="../../../../assets/images/find.png">
                </div>
                <div class="content">
                    <h3>Find a course you like</h3>
                    <p>Find and search of your preferred course you want to have </p>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../../../../assets/images/service.png">
                </div>
                <div class="content">
                    <h3>Use our services to apply</h3>
                    <p>Check course and university information and try to apply directly</p>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="../../../../assets/images/accept.png">
                </div>
                <div class="content">
                    <h3>Get accepted!</h3>
                    <p>Check your result of your application and get the chance to study in Korea</p>
                </div>
            </div>
        </div>
    </div>
</section>
