@import '_bf-breakpoints';

.thanks{
    position: fixed;
    inset: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 1;

    .content{
        background-color: #FFFFFF;
        width: 40%;
        border-radius: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px 80px;
        text-align: center;

        @include breakpoint(max-lg) {
            width: 75%;
        }

        @include breakpoint(max-md) {
            width: 90%;
        }

        h1 {
            font-family: poppins-bold;
            font-weight: bold;
            font-size: 40px;
            line-height: 60px;
            color: #0085FF;
            margin-bottom: 10px;

            @include breakpoint(max-xl) {
                font-size: 34px;
                line-height: 51px;
            }

            @include breakpoint(max-sm) {
                font-size: 22px;
                line-height: 33px;
            }
        }

        h2 {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #000000;
        }
    }
}
.close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #000;
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
}
::ng-deep{
    .nsm-dialog-btn-close{
        display: none;
    }
}
