<section class="main">
    <img src="../../../../assets/images/search-bg.png" alt="">
    <div class="ui container">
        <div class="content">
            <h1>
                Discover the best<br>
                universities in Korea
            </h1>
        </div>
    </div>
    <div class="search-box">
        <form action="" [formGroup]="searchForm" (ngSubmit)="search()" class="ui large form">
            <div class="ui grid container">
                <div
                    class="sixteen wide mobile column eight wide tablet column four wide computer column bf -reset -padding-tb">
                    <div class="input-cont">
                        <h6 for="">City</h6>
                        <select class="ui fluid search dropdown" #dropdown formControlName="c">
                            <option value="">Please select the city</option>
                            <option *ngFor="let cityVal of data[0].cities" [ngValue]="cityVal.city">
                                {{ cityVal.city }}
                            </option>
                        </select>
                    </div>
                </div>
                <div
                    class="sixteen wide mobile column eight wide tablet column four wide computer column bf -reset -padding-tb">
                    <div class="input-cont">
                        <h6 for="">Major</h6>
                        <select class="ui fluid search dropdown" #dropdown formControlName="d">
                            <option value="">Please select the major</option>
                            <option *ngFor="let depart of data[1].departs; let i = index" [ngValue]="depart.value">
                                {{ depart.value }}
                            </option>
                        </select>
                    </div>
                </div>
                <div
                    class="sixteen wide mobile column eight wide tablet column five wide computer column bf -reset -padding-tb">
                    <div class="input-cont">
                        <h6 for="">Language</h6>
                        <select placeholder="Please select the language" name="" id="">
                            <option value="">English</option>
                        </select>
                    </div>
                </div>
                <div
                    class="sixteen wide mobile column eight wide tablet column three wide computer column bf -reset -padding-tb">
                    <div class="btn-cont">
                        <button [disabled]="!searchForm.valid" type="submit" class="ui primary button"
                            [ngClass]="{'loading': loader}">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="result">
    <div class="empty-result" *ngIf="!courses">
        <h5>Find University</h5>
        <img src="../../../../assets/images/018.png" alt="">
    </div>
    <div class="results" *ngIf="courses.count_courses > 0">
        <div class="ui container">
            <h1>{{courses.count_courses}} courses found</h1>
            <div class="ui three doubling cards">
                <ng-container *ngFor="let i of courses.courses; let in = index;">
                    <div routerLink="/university/{{i.id}}" class="card">
                        <div class="image">
                            <!-- <img [src]="sanitizeImageUrl (courses.course_image[0].image) ? env.courseImage + courses.course_image[0].image : 'http://zipmar.timjohn.net/storage/product_images/no-image.jpg'"> -->
                            <img src="../../../../assets/images/search-card.png">
                        </div>
                        <div class="content">
                            <h4>{{i.name}}</h4>
                            <h6>{{i.uni.title}}</h6>
                            <div class="line"></div>
                            <div class="d-flex justify-content-between">
                                <span>Price</span>
                                <span class="price">4.3 mln KRW / semester</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Application period</span>
                                <span class="bullet success">Open Now</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <!-- <div class="btn-cont">
                <button class="more ui primary basic button">Load More</button>
            </div> -->
        </div>
    </div>
    <div class="no-result" *ngIf="courses.count_courses === 0">
        <h5>No Result Found</h5>
        <img src="../../../../assets/images/download.jfif" alt="">
    </div>
</section>
<!-- <div *ngIf="loader" class="ui segment bf -reset -border -margin">
    <div class="ui active dimmer ">
        <div class="ui large text loader">Loading</div>
    </div>
    <p></p>
</div> -->
