@import "_bf-breakpoints";

.university {
    font-family: poppins-medium;
    padding: 130px 0;

    @include breakpoint(max-lg){
        padding: 80px 0;
    }

    @include breakpoint(max-lg){
        padding: 60px 0;
    }

    .heading-content {
        width: 60%;
        margin-bottom: 50px;

        @include breakpoint(max-sm){
            width: 100%;
        }

        h1 {
            font-family: poppins-bold;
            font-weight: bold;
            font-size: 40px;
            line-height: 60px;
            color: #0085FF;
            margin-bottom: 5px;

            @include breakpoint(max-xl) {
                font-size: 30px;
                line-height: 45px;
            }
        }

        h5 {
            margin: 0;
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            color: #000000;
        }
    }

    swiper {
        .image {
            img {
                width: 100%;
            }
        }

        padding-bottom: 80px;

        ::ng-deep {

            [class="swiper-button-prev"],
            [class="swiper-button-next"],
            [class="swiper-button-prev swiper-button-disabled"],
            [class="swiper-button-next swiper-button-disabled"] {
                top: unset;
                bottom: 0;
                z-index: 11111;
                color: #0085FF;

                &.disabled {
                    opacity: 0.35;
                }

                @include breakpoint(max-sm){
                    display: none !important;
                }

                &[class="swiper-button-prev"],
                &[class="swiper-button-prev swiper-button-disabled"] {
                    left: unset;
                    right: 50px;
                }
            }
        }
    }

    .content {
        margin-top: 15px;

        h3 {
            font-weight: bold;
            font-size: 18px;
            line-height: 27px;
            color: #000000;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        div {
            margin-bottom: 5px;
        }

        span {
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;

            &.light {
                color: #777E90;
            }

            &.dark {
                color: #000000;
            }
        }
    }
}
