<section class="choose" id="choose">
    <div class="ui container">
        <div class="heading-content">
            <h1>Why choose us</h1>
            <h5>We are Korean company which located in Seoul. We provide various and accurate information that you want
                to know.</h5>
        </div>
        <div class="ui three doubling cards">
            <div class="card bf -reset -border -background -boxshadow">
                <div class="image">
                    <img src="../../../../assets/images/Frame.png" alt="">
                </div>
                <div class="content">
                    <h3>Experts in our field</h3>
                    <p>We conducted many surveys and comparing to give you best and accurate </p>
                </div>
            </div>
            <div class="card bf -reset -border -background -boxshadow">
                <div class="image">
                    <img src="../../../../assets/images/Frame-1.png" alt="">
                </div>
                <div class="content">
                    <h3>A to Z</h3>
                    <p>Our services provides not only information but can do apply to the university directly</p>
                </div>
            </div>
            <div class="card bf -reset -border -background -boxshadow">
                <div class="image">
                    <img src="../../../../assets/images/Frame-2.png" alt="">
                </div>
                <div class="content">
                    <h3>Partnership wih Unversities</h3>
                    <p>Made partnership with several universities in Korea, we provides services A to Z</p>
                </div>
            </div>
        </div>
    </div>
</section>
