@import '_bf-breakpoints';

.students {

    font-family: poppins-medium;
    font-weight: 400;
    background: #0F1E46;
    padding: 130px 0;

    @include breakpoint(max-lg) {
        padding: 80px 0;
    }

    @include breakpoint(max-lg) {
        padding: 60px 0;
    }

    .heading-content {
        margin-bottom: 50px;
        width: 60%;

        @include breakpoint(max-sm) {
            width: 100%;
        }

        h1 {
            font-family: poppins-bold;
            font-weight: bold;
            font-size: 40px;
            line-height: 60px;
            color: #0085FF;
            margin-bottom: 5px;

            @include breakpoint(max-xl) {
                font-size: 30px;
                line-height: 45px;
            }

            @include breakpoint(max-sm) {
                font-size: 26px;
                line-height: 39px;
            }
        }

        h5 {
            margin: 0;
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
            color: #FFFFFF;

            @include breakpoint(max-xl) {
                font-size: 16px;
            }
        }
    }

    swiper {
        padding-bottom: 80px;

        .content {
            text-align: center;
            padding: 0 120px;

            @include breakpoint(max-md) {
                padding: 0 90px;
            }

            @include breakpoint(max-md) {
                padding: 0;
            }

            h3 {
                font-family: poppins-bold;
                font-weight: bold;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 5px;

                @include breakpoint(max-sm) {
                    font-size: 18px;
                    line-height: 27px;
                }
            }

            h6 {
                margin: 0;
                font-weight: normal;
                font-size: 18px;
                line-height: 27px;
                color: #FFFFFF;
                margin-bottom: 10px;
            }

            p {
                margin: 0;
                margin-top: 10px;
                font-weight: 300;
                font-size: 16px;
                line-height: 30px;
                color: #FFFFFF;

                @include breakpoint(max-xl) {
                    font-size: 14px;
                }
            }
        }

        ::ng-deep {

            [class="swiper-button-prev"],
            [class="swiper-button-next"],
            [class="swiper-button-prev swiper-button-disabled"],
            [class="swiper-button-next swiper-button-disabled"] {
                color: #fff;

                @include breakpoint(max-sm) {
                    display: none !important;
                }

                top: unset;
                bottom: 0;
                z-index: 11111;

                &.disabled {
                    opacity: 0.35;
                }

                &[class="swiper-button-prev"],
                &[class="swiper-button-prev swiper-button-disabled"] {
                    left: unset;
                    right: 50px;
                }
            }
        }
    }
}
