<div class="ui card">
    <div class="image">
        <img src="../../../../assets/images/search-card.png">
    </div>
    <div class="content">
        <h4>Business Administration</h4>
        <h6>Seoul National University</h6>
        <div class="line"></div>
        <div class="d-flex justify-content-between">
            <span>Price</span>
            <span class="price">4.3 mln KRW / semester</span>
        </div>
        <div class="d-flex justify-content-between">
            <span>Application period</span>
            <span class="bullet success">Open Now</span>
        </div>
    </div>
</div>
