<section class="details">
    <div class="head">
        <h2>{{data.depart[0].uni.title}}</h2>
        <h1>{{data.depart[0].name}}</h1>
    </div>
    <div class="line"></div>
    <div class="ui dobuling three column grid">
        <div class="column" *ngFor="let i of tiles">
            <div class="d-flex">
                <img class="icon" src="../../../../assets/images/{{i.icon}}" alt="">
                <div>
                    <span class="dark">{{i.name}}</span>
                    <span class="light">{{i.sub}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="line"></div>

    <div class="content">
        <h2>Degree</h2>
        <ul class="bf -reset -margin -padding">
            <ng-container *ngFor="let i of data.depart[0].uni.degree">
                <li>
                    <p>{{i.degree_name}}</p>
                </li>
            </ng-container>
        </ul>
    </div>

    <div class="line"></div>

    <div class="content">
        <h2>Introduction</h2>
        <p>
            An autonomous and convergent education system to strengthen creativity and personality education. It
            provides a variety of academic access opportunities with the aim of introducing a convergence L-shaped
            education system that lowers the barriers between majors, exploring interdisciplinary topics, and
            cultivating cooperative practical skills through critical and creative thinking and in-depth discussions. It
            helps complement various perspectives through in-depth discussions of student autonomous curriculum, student
            design major, and convergence subject courses. Reading seminar to cultivate personality
        </p>
    </div>

    <div class="line"></div>

    <div class="content">
        <h2>Mission</h2>
        <p>
            Training talents who are going on a new path together.<br>
            A bold truth exploration and cooperative research on social challenges. <br>
            Academic community that respects ethics and diversity and communicates. <br>
        </p>
    </div>

    <div class="line"></div>

    <div class="content">
        <h2>Academic Goals</h2>
        <p>
            By discovering various social contribution activities, we cultivate talented people who practice sharing and
            serve. Through participation in social contributions linked to education, we can provide opportunities to
            experience contribution activities and contribute widely to society. Through these various activities,
            students understand diversity by learning the concepts of volunteering, global citizens, and human rights,
            and grow into "Shanum-type (Seoul National University + Sharing)" talents with a cool-headed reason and warm
            heart.
        </p>
    </div>

    <div class="line"></div>

    <div class="content">
        <h2>Eligability and requirements</h2>
        <p>
            – Person who has obtained a bachelor's degree or who is expected to obtain it. <br>
            – English grades: TEPS (327 points/based on NewTeps) or higher, TOEFL IBT–86 points or higher (exempt if you
            graduate from a foreign English-speaking university)<br>
            – The format of reading sociology-related texts in English and describing answers (answer can be both
            English and Korean) – impossible to bring in advance, and failure without exception if missed.<br>
            – The scores of the major written exam are used as reference materials for interviews and oral
            examinations.<br>
            – Level 2, interview and oral exam.
        </p>
    </div>
</section>
