<section class="details">
    <div class="head">
        <h1>Check out our package options that best for your preference </h1>
    </div>
    <div class="line"></div>

    <div class="content">
        <h2>Who we are</h2>
        <p>
            Studybridge is one of our services that focus on foreigners who want to study in Korea and make them to get
            ready and prepare for their future, not only recommend universities and provides informations of each
            university, but also can directly apply to the university with their best preference.
        </p>
    </div>

    <div class="line"></div>

    <div class="content">
        <h2>Our Services</h2>
        <p>
            Please check two packages below and compare those and select the package services that best fit with your
            condition.
        </p>
    </div>

    <div class="ui two column doubling grid">
        <div class="column">
            <div class="package-card">
                <h1>Basic</h1>
                <h3>₩ 200,000 KRW</h3>
                <div class="package">
                    <h2>General Information</h2>
                    <ul class="bf -reset -padding -margin">
                        <li class="d-flex">
                            <i class="fas fa-check-circle"></i>
                            <p>Basic consultation</p>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check-circle"></i>
                            <p>Simple inquiry of study information</p>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check-circle"></i>
                            <p>Inquiry fitness in major</p>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check-circle"></i>
                            <p>Simple inquiry of process</p>
                        </li>
                        <p>In this package, we provide simple inquiry and consultation of Korean universities</p>
                    </ul>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="package-card">
                <h1>Pro</h1>
                <h3>₩ 1,100,000 KRW</h3>
                <div class="package">
                    <h2>General Information</h2>
                    <ul class="bf -reset -padding -margin">
                        <li class="d-flex">
                            <i class="fas fa-check-circle"></i>
                            <p>Take full control of whole process</p>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check-circle"></i>
                            <p>Search for major</p>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check-circle"></i>
                            <p>Search for universities</p>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check-circle"></i>
                            <p>Assist whole application process</p>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-check-circle"></i>
                            <p>Find university with full assistance</p>
                        </li>
                        <p>In this package, we provide full control of whole process of your application</p>
                    </ul>
                    <div class="popular"><p>Most Popular</p></div>
                </div>
            </div>
        </div>
    </div>
</section>
